{{!-- myOwn script --}}
<script defer src="https://cdn.crop.guide/loader/l.js?c=ZNCSBD"></script>
{{!-- myOwn script --}}

<div class="container">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body" style="margin-top: 5em;">
                <h1 class="card-title">Add Products</h1>
                <form class="forms-sample" action="/admin/add-products" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="exampleInputName1">Product Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name"
                            name="productName">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="">Category</label><br>
                            <select class="form-control" name="category" id="categoryId">
                                <option value="" selected disabled>Please select</option>
                                {{#each categories}}
                                <option id="categoryValue" value="{{this.category}}">{{this.category}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail3">Sub-category</label><br>
                            <select class="form-control" id="subcategoryId" name="subCategory">
                                <option value="1">Select Category first</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword4">Brand</label>
                        <select class="form-control" name="brand" id="brandId">
                            <option value="" selected disabled>Please select</option>
                            {{#each brand}}
                            <option id="brandValue" value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Stock</label>
                        <input type="text" class="form-control" id="exampleInputPassword4" placeholder="Stock"
                            name="stock">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Price</label>
                        <input type="number" class="form-control" id="exampleInputPassword4" placeholder="Price"
                            name="price">
                    </div>
                    <div class="form-group">
                        <label for="formFile">File upload</label>
                        <input class="form-control" type="file" multiple='multiple' {{!--accept='image/*' --}}
                            id="formFile" name="images">
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="4" name="description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a href="/admin/view-products" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#categoryId').on('change', function () {
            var category = $(this).val();
            if (category) {
                $.ajax({
                    type: 'POST',
                    url: '/admin/categorySelected',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ "category": category }),
                    success: function (data) {
                        console.log(data)
                        if (data.length == 0) {
                            var string = "<option value=" + ">" + "No sub-category added yet" + "</option>";
                        } else {
                            var string = "<option value=" + ">" + "Please select sub-category" + "</option>";

                        }
                        for (i = 0; i < data.length; i++) {
                            string += "<option value=" + data[i].subCategory + ">" + data[i].subCategory + "</option>";
                        }
                        document.getElementById("subcategoryId").innerHTML = string;

                    }
                });
            }
        });
    });
</script>