<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Body main wrapper start -->



    <div class="wrapper login">




        <!--breadcumb area start -->
        <div class="breadcumb-area overlay pos-rltv">
            <div class="bread-main">
                <div class="bred-hading text-center">
                    <h5>Login / Register</h5>
                </div>
                <ol class="breadcrumb">
                    <li class="home"><a title="Go to Home Page" href="index.html">Home</a></li>
                    <li class="active">Login</li>
                </ol>
            </div>
        </div>
        <!--breadcumb area end -->

        <!-- Account Area Start -->
        <div class="account-area ptb-80">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <form action="/login" method="post" class="login-side">
                            <div class="login-reg">

                                {{#if loginErr}}
                                <p style="color: red;">{{loginErr}}</p>
                                {{/if}}
                                {{#if loginBlocked}}
                                <p style="color: red;">{{loginBlocked}}</p>
                                {{/if}}

                                <h3>Login</h3>
                                <div class="input-box mb-20">
                                    <label class="control-label">E-Mail</label>
                                    <input type="email" placeholder="E-Mail" value="" name="email" class="info">
                                </div>
                                <div class="input-box">
                                    <label class="control-label">Password</label>
                                    <input type="password" placeholder="Password" value="" name="password" class="info">
                                </div>
                            </div>
                            <div class="frm-action">
                                <div class="input-box tci-box">
                                    {{!-- <a href="#" class="btn-def btn2">Login</a> --}}
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                                <span>
                                    <input class="remr" type="checkbox"> Remember me
                                </span>
                                <a href="/otplogin" class="forgotten forg">Login with OTP</a>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6 col-xs-12 lr2">
                        <form id="registerFormId" action="" method="post">
                            <div class="login-reg">
                                <h3>Register</h3>
                                <div class="input-box">
                                    <label class="control-label">Full name</label>
                                    <input type="text" class="info" placeholder="Name" value="" name="fullName"
                                        id="name" onchange="validatename()" required>
                                    <label id="valName"></label>

                                </div>
                                <div class="input-box">
                                    <label class="control-label">E-Mail</label>
                                    <input type="email" class="info" placeholder="E-Mail" value="" name="email"
                                        id="email" onchange="validateEmail()" on required>
                                    <label id="valemail"></label>
                                </div>
                                <div class="input-box">
                                    <label class="control-label">Phone number</label>
                                    <input type="text" class="info" placeholder="Phone number" value="" name="mobile"
                                        id="phone" onchange="validatePhone()" required>
                                    <label id="valPhone"></label>
                                </div>
                                <div class="input-box">
                                    <label class="control-label">Password</label>
                                    <input type="password" class="info" placeholder="Password" value="" name="password"
                                        id="password" onchange="validatePassword()" required>
                                    <label id="valPassword"></label>
                                </div>

                                <div class="input-box">
                                    <label class="control-label">Re-enter the password</label>
                                    <input type="password" class="info" placeholder="Password" value="" id="rePassword" name="rePassword"
                                        onchange="validateRePassword()" required>
                                    <label id="valRePassword"></label>
                                </div>
                            </div>
                            <div class="frm-action">
                                <div class="input-box tci-box">
                                    {{!-- <a href="#" type="submit" class="btn-def btn2">Register</a> --}}
                                    <button type="submit" class="btn btn-primary">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Account Area End -->


        <script>        
            
                function validatename() {
                var text = document.getElementById("name").value;
                var regx = /^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$/;
                if (regx.test(text)) {
                    name = 1;
                    document.getElementById("valName").innerHTML = "Valid";
                    document.getElementById("valName").style.visibility = "visible";
                    document.getElementById("valName").style.color = "green";
                }
                else {
                    name = 0;
                    document.getElementById("valName").innerHTML = "In-Valid Entry";
                    document.getElementById("valName").style.visibility = "visible";
                    document.getElementById("valName").style.color = "red";
                }
            }
            function validateEmail() {
                var text = document.getElementById("email").value;
                var regx = /^([a-zA-Z0-9\.-_ ]+)@([a-zA-Z0-9]+).([a-zA-Z]{2,20})(.[a-zA-Z]{2,5})$/;
                if (regx.test(text)) {
                    email = 1;
                    $.ajax({
            type: 'POST',
            url: '/checkEmailExist',
            data: {text},
            success: function (res) {
                if (res.exist) {
               document.getElementById("valemail").innerHTML = "User exist!!";
                    document.getElementById("valemail").style.visibility = "visible";
                    document.getElementById("valemail").style.color = "red";
                }else{
                    document.getElementById("valemail").innerHTML = "Valid";
                    document.getElementById("valemail").style.visibility = "visible";
                    document.getElementById("valemail").style.color = "green";
                }
            }
        });
                }
                else {
                    email = 0;
                    document.getElementById("valemail").innerHTML = "In-Valid Entry";
                    document.getElementById("valemail").style.visibility = "visible";
                    document.getElementById("valemail").style.color = "red";
                }
            }
            function validatePhone() {
                var text = document.getElementById("phone").value;
                var regx = /^[0-9]{10}$/;
                if (regx.test(text)) {
                    phone = 1;
                    document.getElementById("valPhone").innerHTML = "Valid";
                    document.getElementById("valPhone").style.visibility = "visible";
                    document.getElementById("valPhone").style.color = "green";
                }
                else {
                    phone = 0;
                    document.getElementById("valPhone").innerHTML = "In-Valid Entry";
                    document.getElementById("valPhone").style.visibility = "visible";
                    document.getElementById("valPhone").style.color = "red";
                }
            }
            function validatePassword() {
                const text1 = document.getElementById("password").value;
                var regx = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$/;
                if (regx.test(text1)) {
                    password = 1;
                    document.getElementById("valPassword").innerHTML = "Valid";
                    document.getElementById("valPassword").style.visibility = "visible";
                    document.getElementById("valPassword").style.color = "green";
                }
                else {
                    password = 0;
                    document.getElementById("valPassword").innerHTML = "In-Valid Entry";
                    {{!-- document.getElementById("passwordCond1").innerHTML = "In-Valid Entry"; --}}
                    document.getElementById("valPassword").style.visibility = "visible";
                    document.getElementById("valPassword").style.color = "red";
                }
            }
            function validateRePassword() {
                const text2 = document.getElementById("rePassword").value;
                const text1 = document.getElementById("password").value;
                if (text1 === text2) {
                    rePassword = 1;
                    document.getElementById("valRePassword").innerHTML = "Password matched";
                    document.getElementById("valRePassword").style.visibility = "visible";
                    document.getElementById("valRePassword").style.color = "green";
                }
                else {
                    rePassword = 0;
                    document.getElementById("valRePassword").innerHTML = "Password didn't match";
                    document.getElementById("valRePassword").style.visibility = "visible";
                    document.getElementById("valRePassword").style.color = "red";
                }
            }
            function validateForm(){
        validatenum();
        validateemail();
        validatefm();
        validatemsg();
        validatenum();
        validatesjt();
        if(num==1&&mail==1&&cnty==1&&msgs==1&&sbjt==1&&nam==1)
        {
               num=0;
               nam=0;
               sbjt=0;
               cnty=0;
               msgs=0;
            return true;
            
        }
        else{
            document.getElementById("btnerror").innerHTML="please check again";
            document.getElementById("btnerror").style.visibility="visible";
            document.getElementById("btnerror").style.color="red";
            return false;
        }
    }

        </script>

    </div>
    <!-- Body main wrapper end -->

</body>